/**app.wxss**/
.container {
  font-family: 'SourceHanSansSC';  /* 统一 family */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
} 

page {
  font-family: 'SourceHanSansSC';
}
